<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
  <meta charset="ISO-8859-1">
  <title th:text="${title}">Exam Section</title>

</head>
<body>
<section>
  <div>
    <h2 align="center">This page is for assigned questions to a particular student</h2>
    <div align="center">
      <a id="user-link" th:href="@{/user/assigned-question(userId=${userId})}" class="btn btn-primary">Start Exam</a>
    </div>
  <div id="timer" style="text-align: center; font-size: 24px; margin-top: 20px;"></div>
  </div>
</section>
</body>
</html>
