<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="normal/base::layout(~{::section})">
<head>
  <meta charset="ISO-8859-1">
  <title th:text="${title}">Add Contact</title>
</head>
<body>
<section>
  <div class="container">
    <!-- display the selected category, level, and setNumber -->
    <div class="selected-info">
      <h5 >UserId: <span th:text="${userId}"></span></h5>
      <h5 >Page Number: <span th:text="${pageNumber}"></span></h5>
      <h5 >Total Pages: <span th:text="${totalPages}"></span></h5>
    </div>
  </div>


  <!-- display the current question -->
  <div class="question" th:each="question, questionIndex : ${questions.content}">
    <h3 th:text="${question.questionType}"></h3>
    <form>
      <div class="option">
        <input type="radio" th:id="${'option1-' + question.id}" th:name="${'question-' + question.id}" th:value="${question.options.option1}">
        <label th:for="${'option1-' + question.id}" th:text="${question.options.option1}"></label>
      </div>
      <div class="option">
        <input type="radio" th:id="${'option2-' + question.id}" th:name="${'question-' + question.id}" th:value="${question.options.option2}">
        <label th:for="${'option2-' + question.id}" th:text="${question.options.option2}"></label>
      </div>
      <div class="option">
        <input type="radio" th:id="${'option3-' + question.id}" th:name="${'question-' + question.id}" th:value="${question.options.option3}">
        <label th:for="${'option3-' + question.id}" th:text="${question.options.option3}"></label>
      </div>
      <div class="option">
        <input type="radio" th:id="${'option4-' + question.id}" th:name="${'question-' + question.id}" th:value="${question.options.option4}">
        <label th:for="${'option4-' + question.id}" th:text="${question.options.option4}"></label>
      </div>
    </form>
  </div>

  <!-- display buttons based on the question's position -->
  <div class="navigation">
    <!-- Cancel button -->
    <!-- <button onclick="window.location.href='cancel.html'">Cancel</button>-->

     Previous button
    <div class="previous" th:if="${questions.hasPrevious()}">
      <a th:href="@{/user/assigned-question(userId=${userId},pageNumber=${pageNumber}, totalPages=${totalPages}, page=${pageNumber - 1})}" th:if="${pageNumber > 0}">Previous</a>
    </div>

     Next button
    <div class="next" th:if="${questions.hasNext()}">
      <a th:href="@{/user/assigned-question(userId=${userId},pageNumber=${pageNumber}, totalPages=${totalPages}, page=${pageNumber + 1})}" th:if="${pageNumber + 1 < totalPages}">Next</a>
    </div>-->
   <!-- <div>
      <a th:href="@{/user/assigned-question(userId=${userId}, pageNumber=${pageNumber}, totalPages=${totalPages}, page=${pageNumber - 1})}" th:if="${pageNumber > 0}">Previous</a>
      <a th:href="@{/user/assigned-question(userId=${userId},  pageNumber=${pageNumber}, totalPages=${totalPages}, page=${pageNumber + 1})}" th:if="${pageNumber + 1 < totalPages}">Next</a>
    </div>-->
   <!-- <div>
      <a th:href="@{/user/assigned-question(userId=${userId}, category=${category}, level=${level}, setNumber=${setNumber}, page=${pageNumber - 1})}" th:if="${pageNumber > 0}">Previous</a>
      <a th:href="@{/user/assigned-question(userId=${userId}, category=${category}, level=${level}, setNumber=${setNumber}, page=${pageNumber + 1})}" th:if="${pageNumber + 1 < totalPages}">Next</a>
    </div>-->

    <!-- Submit button -->
    <div class="submit" th:if="${questions.last}">
      <a href="/mcq/result">Submit</a>
    </div>

  </div>



</section>
</body>
</html>
