<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title th:text="${title}"></title>
</head>
<body>

<section>
    <div >
        <h3 align="center">This is Student Dashboard Page</h3>
        <h3 align="center"> Here you can add contact you want </h3>

        <div align="center">
            <a id="user-link"  th:href="@{/user/add-contact}" class="item">
                <i class="fa-solid fa-address-book"></i>Start Adding Contacts Here</a>
        </div>

    </div>
</section>

</body>
</html>