<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="path/to/your/stylesheet.css">
</head>
<body>

<section>
    <div id="student-home">
        <p>Welcome Student, here you can add contacts and perform exams. Use the buttons below to navigate to the appropriate pages.</p>

        <div>
            <a id="user-link" th:href="@{/user/add-contact}">
                Add Contact</a>

        </div>
        <div>
            <a id="user-links" th:href="@{/user/start}">
                Perform Exam</a>

        </div>

    </div>
</section>

</body>
</html>
