<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title th:text="${title}"></title>
</head>
<body>

<section>
    <div    >
        <h3 align="center">This is Student Home Page</h3>
<!--        <h3 align="center"> Here you can add contact you want </h3>-->

        <div align="center">
            <a id="user-link"  th:href="@{/user/add-contact}" >
                Add Contact</a>

        </div>
        <div align="center">
            <a id="user-links"  th:href="@{/user/start}" >
               Perform Exam</a>

        </div>

    </div>
</section>

</body>
</html>