<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/base::layout(~{::section})">
<head>
  <meta charset="ISO-8859-1">
  <title th:text="${title}"></title>
</head>
<body>

<section>
  <h3 align="center">This is Admin/TL Dashboard</h3>
  <p align="center">Here Admin/ Tl can able to view the List of Student, he can able to delete the Registered Student</p>
  <p align="center">Admin/TL can able to assign the Question to the particular Question Based on Category, Level and SetNumber</p>
</section>

</body>
</html>