<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title align="center">Post Notice</title>
</head>
<body>
<section>
  <div id="notice-section">
    <div th:if="${successMessage}" class="alert-success" th:text="${successMessage}"></div>

    <form action="/admin/createNotice" method="post">
      <h1>Create Notice</h1>
      <textarea placeholder="Enter Notice Here" id="messages" name="messages"></textarea><br>
      <button type="submit" class="btn btn-info">Post Notice</button>
    </form>
  </div>
</section>
</body>
</html>
