<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::section})">
<head>
  <meta charset="ISO-8859-1">
  <title th:text="${title}"></title>
</head>
<body>

<section>
  <h2>Please upload an Excel file containing questions here</h2>
  <form action="#" th:action="@{/admin/sheet/upload}" method="post" enctype="multipart/form-data">
    <label for="excel_file">Select an Excel File:</label>
    <input type="file" name="file" id="excel_file" /><br />

    <div th:if="${successMessage}" style="color: green;">File uploaded successfully!</div>
    <div th:if="${errorMessage}" style="color: red;">Please upload an Excel file.</div>

    <button type="submit">Save</button>
    <button type="reset">Reset</button>
    <a href="/admin/index">Home</a>
  </form>
</section>

</body>
</html>
